moviematch.servehttp.com {
    handle_path /images/* {
        uri strip_prefix /images
        reverse_proxy http://thumbs.dfs.ivi.ru {
            header_up Host thumbs.dfs.ivi.ru
            header_down Access-Control-Allow-Origin *
        }
    }

    reverse_proxy mmm_serverpod:8080
}
